<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <%- include('./partials/header.ejs') %>
	<script src="script.js"></script>
	<link href="style.css" rel="stylesheet" type="text/css" /> 
</head>
<body>
    <div class="form-title-account text-center animated bounceInRight">
        <h2 class="text-dark"><h1>Expense Manager</h1></h2>
    </div>
    <div class="login-reg-panel">
		<div class="login-info-box">
			<h2>Have an account?</h2>
			<a href="/login"><label id="label-login" for="log-login-show"></label><button>Login</button></a>
		</div>
							
		<div class="register-info-box">
			<h2>Don't have an account?</h2>
			<a href="/signup"><label id="label-register" for="log-reg-show"></label><button>Sign Up</button></a>
		</div>
			<div class="register-show">
				<h2>SignUp</h2>
				<input type="text" placeholder="Email">
				<input type="password" placeholder="Password">  
				<input type="password" placeholder="Confirm Password">
				<input type="button" value="Register">
			</div>
		</div>
	</div>
</body>
</html>



