<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <%- include('./partials/header.ejs') %>
	<link href="style.css" rel="stylesheet" type="text/css" /> 
</head>
<body style="background-color: lightcyan">
    <div class="form-title-account text-center animated bounceInRight row">
        <h2 class="text-dark"><h1>Expense Manager</h1></h2>
    </div>
    <div class="login-reg-panel row">
		<div class="login-info-box col-6 animated bounceInRight">
			<h2>Have an account?</h2>
			<a href="/login"><label id="label-login" for="log-login-show"></label><button>Login</button></a>
		</div>
		 <div class="register-info-box col-6 animated bounceInRight">
			<h2>Don't have an account?</h2>
			<a href="/signup"><label id="label-register" for="log-reg-show"></label><button>Sign Up</button></a>
		</div> 

		</div>
	</div>
</body>
</html>



