<nav class="navbar navbar-light bg-dark">   

<div class="container-fluid float-right">
  <a class="navbar-brand" href="/">
    <img
      src="/img/index.jpeg"
      class="me-2"
      height="40"
      alt="Logo"
      loading="lazy"
    />
  </a>
    <small class="text-light text-large h4">Course Management Application</small>

<a href="/form" class="btn btn-primary" role="button">Add Course</a>
</div>
</nav>

